<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Enter data</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>

        <h1>Change your password using this form</h1>

        <p>Enter your new password:</p>

        <form action="#" th:action="@{/password}" method="POST">
            <p>Password: <input type="password" name="password"/></p>
            <p><input type="submit" value="Change password" /></p>
        </form>

        
        
        <form action="admin.html">
    <input type="submit" value="Participants"/>
</form>
        <p></p>
        
    </body>
</html>
